/* Global Styles */

:root {
 --overallColor: #28a745
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: "Poppins", sans-serif;
 background-color: var(--overallColor);
}

.navbar {
 background: var(--overallColor);
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 padding-top: 3vh;
 gap: 2.5vw;
}

.navbar a {
 text-transform: uppercase;
 font-weight: bold;
 font-size: 2.4vh;
 color: white;
 transition-property: outline-offset;
 transition-duration: 0.1s;
 transition-timing-function: linear;
}

.navbar>a:hover {
 outline: 2px solid white;
 outline-offset: 3px;
}

/* Main Content Area */
.main-content {
 padding: 4vh;
 background-color: #fff;
 height: 100vh;
}

.toolbar {
 padding-top: 3vh;
 display: flex;
 justify-content: center;
 gap: 30vw;
 margin-bottom: 3%;
}

.toolbar h1 {
 font-size: 4vh;
 color: #28a745;
}

.logout-btn {
 background-color: var(--overallColor);
 color: white;
 padding: 0 20px;
 margin-top: -1.5vh;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
}

.toolbar .logout-btn:hover {
color: lightgreen;
}

/* Charts Section */
.charts-container {
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
}

.chart-box {
 width: 45%;
 max-width: 100%;
 background-color: white;
 padding: 5vh;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 border-radius: 10px;
 margin-bottom: 40px;
}
/* End of Charts Section */

/* Recent Activity Loading Section */
.spinner {
 display: inline-block;
 width: 20px;
 height: 20px;
 border: 3px solid rgb(175, 173, 173);
 border-top-color: var(--overallColor);
 border-radius: 50%;
 animation-name: spin;
 animation-duration: 0.7s;
 animation-iteration-count: infinite;
}

@keyframes spin{
 0% {
  transform: rotate(0deg);
 }

 100% {
  transform: rotate(360deg);
 }
}