/* General Styles */
:root {
 --overallColor: #28a745
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Poppins', sans-serif;
 background-color: #f4f4f4;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 margin-top: 8vh;
}

/* Sign Up Container */
.signup-container {
 background-color: white;
 border-radius: 10px;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 width: 80vw;
 max-width: 700px;
 padding: 30px;
 margin-top: -3vh;
 text-align: center;
}

h1 {
 color: #28a745;
 margin-bottom: 20px;
}

p {
 color: #666;
 margin-bottom: 20px;
}

.form-group {
 margin-bottom: 20px;
 text-align: left;
}

label {
 font-size: 14px;
 color: #555;
 display: block;
 margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
 width: 100%;
 padding: 10px;
 border-radius: 5px;
 border: 1px solid #ddd;
 font-size: 16px;
 margin-bottom: 10px;
}

.signup-btn {
 float: left;
 width: 30%;
 max-width: 150px;
 background-color: #28a745;
 color: white;
 padding: 12px;
 border: none;
 border-radius: 5px;
 font-size: 16px;
 cursor: pointer;
 transition: background-color 0.3s ease;
}

.signup-btn:hover {
 background-color: #218838;
}

.back-btn {
 margin-top: 15px;
 float: right;
 text-decoration: none;
 color: #28a745;
 font-weight: bold;
}


.back-btn:hover {
 text-decoration: underline;
}

.already-registered{
 padding-top: 5vh;
 clear: left;
}

.already-registered a{
 text-decoration: none;
  color: #28a745;
  font-weight: bold;
}

.already-registered a:hover {
 text-decoration: underline;
}